In [58]:
import matplotlib as plt
import pandas as pd
import numpy as np
import warnings
import seaborn as sns
import matplotlib.pyplot as plt
warnings.filterwarnings("ignore")
%matplotlib inline

In [59]:
df = pd.read_pickle(r"spotify_songs_df_after_data_prep_9.3.25.pkl")
df.head()

,track_id,track_artist,track_popularity,track_album_id,track_album_release_date,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,track_album_release_date_year,playlist_count_per_song,playlist_genre_count_per_song
0,6f807x0ima9a1j3vpbc7vn,ed sheeran,66,2ocs0dgtsro98gh5zsl2cx,2019-06-14,0.748,0.916,6,-2.634,1,0.0583,0.1020,0.000000,0.0653,0.518,122.036,194754,2019.0,2,2
1,0r7cvbztwzgbtcydfa2p31,maroon 5,67,63rpso264urjw1x5e6cwv6,2019-12-13,0.726,0.815,11,-4.969,1,0.0373,0.0724,0.004210,0.3570,0.693,99.972,162600,2019.0,2,2
2,1z1hg7vb0ahhdiemnde79l,zara larsson,70,1hosmj2elcsrr0ve9gthr4,2019-07-05,0.675,0.931,1,-3.432,0,0.0742,0.0794,0.000023,0.1100,0.613,124.008,176616,2019.0,3,3
3,75fpbthrwqmzhlbjlugdc7,the chainsmokers,60,1nqysoef1ykkugovchbsk6,2019-07-19,0.718,0.930,7,-3.778,1,0.1020,0.0287,0.000009,0.2040,0.277,121.956,169093,2019.0,1,1
4,1e8pafckuyokkxphrhqw4x,lewis capaldi,69,7m7vv9wlq4i0lfujie2zsq,2019-03-05,0.650,0.833,1,-4.672,1,0.0359,0.0803,0.000000,0.0833,0.725,123.976,189052,2019.0,1,1

In [60]:
df.shape

(28356, 20)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28356 entries, 0 to 32832
Data columns (total 20 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   track_id                       28356 non-null  string
 1   track_artist                   28352 non-null  string
 2   track_popularity               28356 non-null  int64
 3   track_album_id                 28356 non-null  string
 4   track_album_release_date       26675 non-null  datetime64[ns]
 5   danceability                   28356 non-null  float64
 6   energy                         28356 non-null  float64
 7   key                            28356 non-null  int64
 8   loudness                       28356 non-null  float64
 9   mode                           28356 non-null  int64
 10  speechiness                    28356 non-null  float64
 11  acousticness                   28356 non-null  float64
 12  instrumentalness               28356 non-null  float64
 13  liveness                       28356 non-null  float64
 14  valence                        28356 non-null  float64
 15  tempo                          28356 non-null  float64
 16  duration_ms                    28356 non-null  int64
 17  track_album_release_date_year  26675 non-null  float64
 18  playlist_count_per_song        28356 non-null  int64
 19  playlist_genre_count_per_song  28356 non-null  int64
dtypes: datetime64[ns](1), float64(10), int64(6), string(3)
memory usage: 4.5 MB

In [62]:
#df['track_popularity'] = df['popularity_group'].astype('string')
#df['track_popularity'].info()

# Data Protocol

In [63]:
# Type of valaues
df.dtypes.to_excel("spotify_datatype.xlsx",
             sheet_name='data_type')
# Maximum valaues
df.max().to_excel("max_spotify.xlsx",
             sheet_name='max')
# Minimum Values
df.min().to_excel("min_spotify.xlsx",
             sheet_name='min')
# Missing Values
df.isnull().sum(axis=0).to_excel("NA_spotify.xlsx",
             sheet_name='NA')
# exporting results to the protocol
df.nunique().to_excel("unique_spotifyr.xlsx",
             sheet_name='unique')

# Descriptive Statistics

#Automated reports

In [64]:
### AutoViz

In [ ]:
from autoviz.AutoViz_Class import AutoViz_Class
%matplotlib inline

AV = AutoViz_Class()
AV.AutoViz('sorted_spotify_songs_data.csv')

import matplotlib.pyplot as plt
plt.show()

Shape of your Data Set loaded: (28356, 20)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  10
    Number of Integer-Categorical Columns =  5
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  1
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  3
    Number of Date Time Columns =  0
    Number of ID Columns =  1
    Number of Columns to Delete =  0
    20 Predictors classified...
        1 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['track_id']
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Number of All Scatter Plots = 55

# EDA - Explenatory Data Analysis

In [ ]:
df.describe()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sb

# Target Value

In [ ]:
sb.countplot(x='track_popularity', data=df)

In [ ]:
#avg_track_popularity_above60 = df[df['track_popularity'] >=65]['track_popularity'].mean()
#avg_track_popularity_under60 = df[df['track_popularity'] < 65]['track_popularity'].mean()

#print(f"Average Track Popularity_above60 : {avg_track_popularity_above60}")
#print(f"Average Track Popularity_under60 : {avg_track_popularity_under60}")
#check it

In [ ]:
plt.figure(figsize=(15, 5))  # Ensure plt is correctly recognized
sns.lineplot(x=df['track_album_release_date'], y=df['track_popularity'])
plt.title('Track Popularity Over Years')
plt.xlabel('Release Year')
plt.ylabel('Average Popularity')
plt.show()

In [ ]:
year_counts = df['track_album_release_date_year'].value_counts().sort_index()

plt.figure(figsize=(15, 5))
sns.lineplot(x=year_counts.index, y=year_counts.values, marker='o')

# Add numbers above each point
for x, y in zip(year_counts.index, year_counts.values):
    plt.text(x, y, str(y), ha='center', va='bottom', fontsize=10, fontweight='bold')

plt.title('Number of Tracks Released Per Year')
plt.xlabel('Release Year')
plt.ylabel('Track Count')
plt.grid(True)
plt.show()

In [ ]:
count_before_2010 = df[df['track_album_release_date_year'] < 2010]['track_id'].nunique()

# Count tracks released after 2010
count_after_2010 = df[df['track_album_release_date_year'] >= 2010]['track_id'].nunique()

# Display results
print(f"Tracks released before 2010: {count_before_2010}")
print(f"Tracks released after 2010: {count_after_2010}")

In [ ]:
to do t-test בין הפופולריות שלפני 2010 ו אחרי 2010!!!!!!!!!!!!!!!!!!!!!!!!!!!

In [ ]:
#Applying a cutoff to analyze data from 2010 onward will necessitate the exclusion of approximately 25% of the dataset. Additionally, 
#we have identified 1,660 missing values, which, if occurring post-2010, would account for approximately 22% of the remaining data.

In [ ]:
count_before_2000 = df[df['track_album_release_date_year'] < 2000]['track_id'].nunique()

# Count tracks released after 2000
count_after_2000 = df[df['track_album_release_date_year'] >= 2000]['track_id'].nunique()

# Display results
print(f"Tracks released before 2000: {count_before_2000}")
print(f"Tracks released after 2000: {count_after_2000}")

In [ ]:
#If I apply a cutoff and analyze data from 2000 onward, I will need to exclude approximately 11% of the dataset.

# dummies

In [ ]:
#creating df_dummy
#df_dummy=df['popularity_group','mode']
#df_dummy

In [ ]:
cols= ['loudness','speechiness','acousticness','instrumentalness','liveness','valence','tempo','danceability','energy','duration_ms','track_popularity']
con_df = df[cols]

In [ ]:

cols = ['loudness', 'speechiness', 'acousticness', 'instrumentalness', 'liveness', 
        'valence', 'tempo', 'danceability', 'energy', 'duration_ms', 'track_popularity']

# Ensure only numeric columns
con_df = con_df[cols].dropna()

# Plot histograms
con_df.hist(figsize=(20, 15), bins=20, xlabelsize=8, ylabelsize=8, color="navy")
plt.show()

# Skewness

In [ ]:
def highlight(cell_value):
    highlight = 'background-color: mediumspringgreen;'
    default = ''
    negative = 'background-color: hotpink;'
    if cell_value > 1:
        return highlight
    elif cell_value < -1:
        return negative
    #else
       # return default
pd.DataFrame(con_df.skew(),columns=['skewness']).sort_values(by='skewness', ascending=False).style.applymap(highlight)

##### Most continus data are not normaly distributed (normal=0.5-(-0.5))

In [ ]:
# Correlation

In [ ]:
df.info()

In [ ]:
from sklearn.preprocessing import LabelEncoder

# Identify object (categorical) columns
categorical_cols = df.select_dtypes(include=['object', 'category']).columns

# Initialize LabelEncoder
le = LabelEncoder()

# Apply Label Encoding to each categorical column
for col in categorical_cols:
    df[col] = le.fit_transform(df[col])

In [ ]:
df.info()

In [ ]:
df_numeric = df.select_dtypes(include=['number'])  # Select only numeric columns
corr_matrix = df_numeric.corr(method='spearman')
print(corr_matrix)

In [ ]:

# Keep only numeric columns
df_numeric = df.select_dtypes(include=['number'])

# Compute correlation
corr_matrix = df_numeric.corr()